<h1>Forum</h1>
<h2>Account</h2>
<div id="account">
    <img src="" alt="profile-picture">
    <p>Username</p>
    <button>Sign out</button>
</div>
<h2>Boards</h2>
<ul>
    <li><a href="#">Board 1</a></li>
    <li><a href="#">Board 2</a></li>
    <li><a href="#">Board 3</a></li>
    <li><a href="#">Board 4</a></li>
</ul>
<div id="posts">
    <h2>Latest posts</h2>
    <div class="post" id="post-1">
        <h3>Post 1</h3>
        <p>Content</p>
    </div>
    <div class="post" id="post-2">
        <h3>Post 2</h3>
        <p>Content</p>
    </div>
    <div class="post" id="post-3">
        <h3>Post 3</h3>
        <p>Content</p>
    </div>
    <div class="post" id="post-4">
        <h3>Post 4</h3>
        <p>Content</p>
    </div>
</div>
