html, body {
    width: 100%;
    margin: 0;
}

body {
    font-family: Arial, serif;
}

li {
    margin: 10px 0;
}

#content {
    margin: 20px;
}

.post, ul, #account {
    outline: #DDDDDD solid 2px;
    padding: 15px;
}

ul {
    list-style-type: none;
}
